<div class="movieDetailContainer">
    <div class="title">
        <h1>{{movieDetails.Title}} ({{movieDetails.Year}})</h1>
        <p>⭐ {{movieDetails.imdbRating}}/10</p>
    </div><br>
    <h3>Plot</h3>
    <p class="plot">{{movieDetails.Plot}}</p>
    <h3>Featuring</h3>
    <p>{{movieDetails.Actors}}</p>
    <h3>Other Details</h3>
    <p>Genre: <span>{{movieDetails.Genre}}</span></p>
    <p>Awards: <span>{{movieDetails.Awards}}</span></p>
    <p>Boxoffice Collection: <span>{{movieDetails.BoxOffice}}</span></p>
    <p>Director: <span>{{movieDetails.Director}}</span></p>
    <p>Language: <span>{{movieDetails.Language}}</span></p>
    <p>Writer: <span>{{movieDetails.Writer}}</span></p>
    
</div>
