<div class="movieCard">
    <div class="card" style="width: 18rem;">
        <img [src]="movie.Poster" alt="{{ movie.Title }}" class="card-img-top">
        <div class="card-body">
          <h3 class="card-title">{{ movie.Title }} ({{ movie.Year }})</h3>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a  class="btn btn-primary" (click)="openDetails(movie.imdbID)">More Detail</a>
        </div>
      </div>
</div>