<div class="contactContainer">
    <div class="contactBox">
        <h1>Get in Touch</h1>
        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="pat@example.com" type="email" [(ngModel)]="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Message</mat-label>
            <textarea matInput [(ngModel)]="message"></textarea>
        </mat-form-field>
        <button mat-raised-button color="warn" (click)="submitMessage()">Submit</button>
    </div>
</div>