<div class="container aboutContainer">
    <h1>About Us:</h1>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              About Cinephile
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">               
              <strong>Welcome to Chinephile's Hub: Your Gateway to Cinematic Exploration</strong><br>

              At Chinephile's Hub, we are dedicated to providing a comprehensive platform for exploring and enjoying your favorite movies, series, and games. Leveraging the power of the <a href="https://www.omdbapi.com/">OMDb API</a>, we offer a seamless and immersive experience for cinephiles, TV enthusiasts, and gamers alike. <br><br>
              
              <strong>Discover and Dive Deep</strong><br>

              With our user-friendly interface, you can easily search for your favorite movies, series, or games by it's title. Whether you're in the mood for a classic film, the latest blockbuster, or an indie gem, Chinephile's Hub has you covered. <br><br>
              
              <strong>Get Detailed Information</strong> <br>

              Once you've found the title you're interested in, dive deeper with our detailed information feature. Explore comprehensive descriptions, cast and crew details, ratings, reviews, and much more.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              About the project
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Technical Overview: Chinephile's Hub</strong> <br>
              Chinephile's Hub is an Angular-based web application that integrates with the OMDb API to provide users with comprehensive information about movies, series, and games. Leveraging Angular's routing system, component-based architecture, and HttpClient module, the platform enables seamless navigation, real-time data fetching, and dynamic content loading. With a responsive design powered by Angular Material, Chinephile's Hub delivers a user-friendly experience across various devices and screen sizes. By combining external API integration, state management with observables, and modern UI components, Chinephile's Hub offers a sophisticated solution for exploring and discovering entertainment content.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              More
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              This is project in making.... there will be more features.
            </div>
          </div>
        </div>
      </div>
</div>